<!DOCTYPE html>
<html lang="en">
<head>
  <title>University</title>
  <link rel="stylesheet" type = "text/css" href="style.css" >
</head>
<!-- Set background color + set message fields-->
<body style="background-color: #abb0ac">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var roomID;
        socket.on( 'connect', function() {
            socket.emit('onconnect');
        })
        socket.on( 'connected', function(msg) {
            roomID = msg.UniqueID;
        })
        function clearElements(){
            const myNode = document.getElementById("ProposalsDisplayed2");
            myNode.innerHTML = '';
        }
        function ListResearchers(){
            const myNode = document.getElementById("ProposalsDisplayed2");
            myNode.innerHTML += ' <br> Name : '
            socket.emit('ListResearchers',{"ID" : 2,"HolderID" : 1,"UniqueID" : roomID});
        }
        function ListResearcherAccounts(){
            const myNode = document.getElementById("ProposalsDisplayed2");
            myNode.innerHTML += ' <br> Name : '
            socket.emit('ListResearcherAccounts',{"UniqueID" : roomID,"ID" : 2,"HolderID" : 1});
        }
        function ListTransactions(){
            socket.emit('ListTransactions',{"ID" : 2,"HolderID" : 1,"UniqueID" : roomID});
        }
        function ResearchAccountInfo(ID){
            socket.emit('ResearcherAccountsUniInfo',{"ID" : ID,"UniqueID" : roomID})
        }
        function UserInfo(ID){
            socket.emit('UserUniInfo', {"ID" : ID,"UniqueID" : roomID})
        }
        function Acknowledge(ID){
            socket.emit('Acknowledge', {"ID" : ID,"UniqueID" : roomID})
        }
        function ListNotifications(){
            clearElements();
            const myNode = document.getElementById("ProposalsDisplayed2");
            myNode.innerHTML += ' <br> Date : <div style="width:190px; height:auto; display:inline-block"></div>' 
            myNode.innerHTML += '  Budget : <div style="width:220px; height:auto; display:inline-block"></div>' 
            myNode.innerHTML += '  Researcher : <div style="width:180px; height:auto; display:inline-block"></div>' 
            socket.emit('ListNotificationsUni', {"UniqueID" : roomID})
        }
        socket.on('ListResearchers', function(msg) {
            const myNode = document.getElementById("ProposalsDisplayed2");
            myNode.innerHTML += ' <br> Name : ' +  msg.Name   ;
            myNode.innerHTML += '<div style="width:420px; height:auto; display:inline-block"></div><button type="button" id = "ButtonProps" onclick="UserInfo(\'' + msg.ID + '\' )">Information</button>';
        })
        socket.on('ClearElementsAccount',function(msg) {
            clearElements();
        })
        socket.on('ResearcherAccountsUni', function(msg) {
            const myNode = document.getElementById("ProposalsDisplayed2");
            myNode.innerHTML += ' <br> Name : ' +  msg.Name + '<div style="width:420px; height:auto; display:inline-block"></div><button type="button" id="ButtonProps" onclick="ResearchAccountInfo(\'' + msg.ID + '\')" >Information</button>'    ;
        })
        socket.on('ListTransactionsUni', function(msg) {
            const myNode = document.getElementById("ProposalsDisplayed2");
            myNode.innerHTML +=  ' <br>' +  msg.Amount  ;
            myNode.innerHTML +=  '<div style="width:190px; height:auto; display:inline-block"></div>' + msg.Date   ;
            myNode.innerHTML +=  '<div style="width:190px; height:auto; display:inline-block"></div>' + msg.Reason   ;
            myNode.innerHTML +=  '<div style="width:180px; height:auto; display:inline-block"></div>' + msg.FundingAmount   ;
            myNode.innerHTML +=  '<div style="width:180px; height:auto; display:inline-block"></div>' + msg.Name   ;
        })
        socket.on('ListNotificationsUni', function(msg) {
            const myNode = document.getElementById("ProposalsDisplayed2");
            myNode.innerHTML +=  '<br>' + msg.Date   ;
            myNode.innerHTML +=  '<div style="width:190px; height:auto; display:inline-block"></div>' + msg.Budget   ;
            myNode.innerHTML +=  '<div style="width:180px; height:auto; display:inline-block"></div>' + msg.Researcher   ;
            myNode.innerHTML +=  '<div style="width:180px; height:auto; display:inline-block"></div><button type="button" id="ButtonProps" onclick="Acknowledge(\'' + msg.ID + '\')" >Acknowledge</button>'  ;
        })
        socket.on('TransactionsUniInitial', function(msg) {
            const myNode = document.getElementById("ProposalsDisplayed2");
            myNode.innerHTML += ' <br> Amount : <div style="width:190px; height:auto; display:inline-block"></div>' 
            myNode.innerHTML += '  Date : <div style="width:220px; height:auto; display:inline-block"></div>' 
            myNode.innerHTML += '  Reason : <div style="width:220px; height:auto; display:inline-block"></div>' 
            myNode.innerHTML += '  FundingAmount : <div style="width:180px; height:auto; display:inline-block"></div>' 
            myNode.innerHTML += '  Researcher : <div style="width:280px; height:auto; display:inline-block"></div>' 
        })
        socket.on('UniResearcherInfo', function(msg) {
            const myNode = document.getElementById("ProposalsDisplayed2");
            myNode.innerHTML += '<br> <p> Proposal Title : ' +  msg.Title + '<p>'  ;
            myNode.innerHTML += '<br> <p> Budget : ' +  msg.Budget + '<p>'  ;
            myNode.innerHTML += '<br> <p> EndDate : ' +  msg.EndDate + '<p>'  ;
        })
        socket.on('UniUserInfo', function(msg) {
            const myNode = document.getElementById("ProposalsDisplayed2");
            myNode.innerHTML += '<br> <p> Full Name : ' +  msg.FullName + '<p>'  ;
            myNode.innerHTML += '<br> <p> Email : ' +  msg.Email + '<p>'  ;
            myNode.innerHTML += '<br> <p> Research Accounts : <p>'  ;
        })
        socket.on('UniUserInfoResearchAccounts', function(msg) {
            const myNode = document.getElementById("ProposalsDisplayed2");
            myNode.innerHTML += '<br> <p> Title : ' + msg.AccountTitle + '<p>' ; 
        })
    </script>
    <form action="Form.php" id="ResearchForm">
        <fieldset>
        <legend style="color : #0a0a0a; font-family: Helvetica, Arial; font-size : 34px; ">University</legend>
            <button type="button" id="ButtonProps" onclick="ListResearcherAccounts()"  >Research Accounts</button>
                    <!-- Style button -->
                    <style>
                /* CSS */
                    button[id=ButtonProps] {
                    font-family: "Open Sans", sans-serif;
                    font-size: 16px;
                    width: 255px;
                    height:40px;
                    letter-spacing: 2px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #000;
                    cursor: pointer;
                    border: 3px solid;
                    padding: 0.25em 0.5em;
                    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                    }

                    button[id=create-room]:active {
                    box-shadow: 0px 0px 0px 0px;
                    }

                    @media (min-width: 768px) {
                    .button-54 {
                        padding: 0.25em 0.75em;
                    }
                    }
                    </style>
            <button type="button" id="ButtonProps" onclick="ListResearchers()" >Users</button>
            <button type="button" id="ButtonProps" onclick="ListTransactions()" >Transactions</button>
            <button type="button" id="ButtonProps" onclick="ListNotifications()" >Notifications</button>
        </fieldset>
        <div class = "ProposalsDisplayed" id="ProposalsDisplayed2">
            <p>Proposal Title:</p>
          </div>  
    </form>
</body>
</html>